.pagina-title {
  text-align: center; /* Centraliza o título da página */
  font-size: 3rem; /* Tamanho maior para o título */
  font-weight: bold;
  margin-top: 3rem; /* Espaçamento superior */
  color: white; /* Cor do título */
}

/* Container para redes sociais e mapa lado a lado */
.main-container {
  display: flex; /* Usando flexbox para alinhar os itens lado a lado */
  margin: 3rem;
  gap: 0; /* Remove o espaçamento entre os itens */
  height: 21rem; /* Define a altura do container para garantir que o mapa e as redes sociais tenham a mesma altura */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
}

/* Container para informações de contato */
.info-contato {
  background-color: #252529; /* Cor de fundo */
  padding: 2rem; /* Espaçamento interno */
  text-align: left; /* Alinhamento do texto */
  flex: 1; /* Faz a seção ocupar metade do espaço disponível */
  max-width: 40%; /* Garante que o container tenha uma largura menor */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  color: white;
}

.info-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  text-align: left; /* Garante que o texto dos itens de contato fique à esquerda */
}

.info-item svg {
  color: #FC6700;
}

/* Redes sociais */
.redes-contato {
  background-color: #252529; /* Cor de fundo */
  padding: 2rem; /* Espaçamento interno */
  text-align: center; /* Centraliza o conteúdo */
  flex: 1; /* Faz a seção ocupar metade do espaço disponível */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.redes-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem; /* Ajusta o espaçamento entre o título e os ícones */
  text-align: center; /* Centraliza o título dentro do container */
  color: white; /* Cor do texto */
}

.social-icons {
  display: flex;
  justify-content: center; /* Centraliza os ícones */
  gap: 2rem; /* Espaçamento entre os ícones */
}

.social-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
}

.social-icon:hover {
  transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

/* Mapa da localização */
.map-container {
  flex: 1; /* Faz a seção do mapa ocupar metade do espaço disponível */
  max-width: 40%; /* Garante que o mapa tenha uma largura menor */
  height: 100%; /* Garante que o mapa ocupe toda a altura disponível do container */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Faz o mapa ocupar todo o espaço disponível */
  text-align: center;
}

.map-container iframe {
  width: 100%; /* Ocupa toda a largura do container */
  height: 100%; /* Garante que o mapa ocupe toda a altura disponível do container */
}
