/* Estoque.css */
.estoque-page {
  font-family: Inter, sans-serif;
  background-color: #1E1E1E;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select {
  padding: 1rem;
}

#category-select label {
  font-size: 0.95rem;
  letter-spacing: 0.0225rem;
}

#select-button {
  width: 250px; /* Aumenta a largura do container */
  height: 50px; /* Aumenta a altura */
  margin-top: 0.5rem;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: space-between;
  border-radius: .375rem;
  border: 1px solid #302A2A;
  background-color: #302A2A;
  position: relative;
}

#select-value {
  color: #AFABB6;
  font-size: 0.875rem;
  letter-spacing: 0.02625rem;
}

/* Fonte de lucide */
#chevrons svg {
  width: 1rem;
  height: 1rem;
}

#chevrons {
  color: #AFABB6;
}

#chevrons .chevron-up {
  display: none;
}

#options-view-button:focus + #select-button,
#options-view-button:checked + #selected-button {
  outline: 1px solid #AFABB6
}

#category-select :has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons {
  color: #AFABB6
}

#options-view-button:checked + #select-button #chevrons
[data-lucide="chevron-down"] {
  display: none;
}

#options-view-button:checked + #select-button #chevrons
[data-lucide="chevron-up"] {
  display: block;
}

#category-select {
  position: relative;
  width: 250px;
}

#options-view-button {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 3;
  width: 100%;
  height: 100%;
}

#options {
  margin-top: .25rem;
  border-radius: .375rem;
  border: 1px solid #302A2A;
  background: #302A2A;
  width: 100%; /* Garantir que a largura ocupe 100% do seu container pai */
  max-width: 250px; /* Limita a largura da lista */
  max-height: 180px; /* Limita a altura da lista */
  overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura */
  padding: 0.5rem 0;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.65rem;
  width: 100%;
  border-bottom: 1px solid #3d3a3a;
  margin-bottom: 0;
  position: relative;
}

.option label {
  color: #AFABB6;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.option svg {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  display: none;
}

.option:has(input:checked),
.option:hover { 
  border-bottom: 1px solid #252529;
  background-color: #252529;
}

.option:has(input:focus) { 
  outline: 1px solid #A881E6;
}

.option:has(input:checked) [data-lucide="check"] { 
  display: block;
}

.option input[type="radio"] {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

/* Exibe o check apenas no item selecionado */
.option input:checked + label [data-lucide="check"] {
  display: block; /* Exibe o ícone de check quando o radio é selecionado */
}

/* Exibe o ícone de check se o item estiver selecionado */
input:checked + label [data-lucide="check"] {
  display: block;
}


/* Distância dos filtros para o catálogo */
.select {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 1rem;
  margin-top: 0.70rem;
  flex-direction: column;
}

/* Distância dos botões redondos */
.pagination-top,
.pagination-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

/* Botões redondos de navegação */
.pagination-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #6b7280;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-circle.active {
  background-color: #f97316;
}

.pagination-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1d5db;
}

/* Catálogo */
.estoque-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .filtro-input {
    width: 45%;
  }

  .estoque-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .filtro-input {
    width: 100%;
  }

  .estoque-cards {
    grid-template-columns: 1fr;
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
}
