.feedback {
  text-align: center;
  color: white;
  padding: 2rem;
}

.feedback-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feedback-title-text {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.feedback-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252529;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.feedback-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.feedback-video-container {
  width: 40%;
}

.feedback-video {
  width: 80%; /* Faz o vídeo ocupar toda a largura do container */
  border-radius: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.feedback-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.feedback-photo {
  margin-bottom: 1rem;
}

.feedback-photo img {
  width: 780px; /* Ajuste o tamanho conforme necessário */
  height: 550px;
  object-fit: cover;
  border-radius: 2%;
  margin-bottom: 2rem;
}

.feedback-text {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.titulo-text {
  font-weight: bold;
  margin-bottom: 2rem; /* Ajuste a margem conforme necessário */
  margin-top: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 1280px) {
  .feedback-video {
    width: 90%; /* Faz o vídeo ocupar toda a largura do container */
    border-radius: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .feedback-photo img {
    width: 580px; /* Ajuste o tamanho conforme necessário */
    height: 400px;
    object-fit: cover;
    border-radius: 2%;
    margin-bottom: 2rem;
  }
}


@media (max-width: 834px) {
  .feedback-container {
    flex-direction: column;
    align-items: center;
  }

  .feedback-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  

  .feedback-video-container {
    width: 90%; /* Ajuste a largura do vídeo */
    margin-top: 1rem;
  }

  .feedback-video {
    width: 100%;
    margin-top: 1rem;
  }

  .feedback-text-container {
    width: 80%;
    text-align: center; /* Garante que o texto também fique centralizado */
    font-size: 1.5rem;
  }

  .feedback-photo img {
    width: 100%; /* Ajuste a imagem para que ela ocupe toda a largura possível */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 680px; /* Limite o tamanho máximo da imagem */
  }

  .titulo-text {
    font-weight: bold;
    margin-bottom: 2rem; /* Ajuste a margem conforme necessário */
    margin-top: 0rem;
  }

  .feedback-text {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  .feedback-text {
    font-size: 1.4rem;
    line-height: 1.4;
    font-size: 1.5rem;
  }
  
  .titulo-text {
    font-weight: bold;
    margin-bottom: 2rem; /* Ajuste a margem conforme necessário */
    margin-top: 0rem;
    font-size: 1.33rem;
  }

  .feedback-photo img {
    width: 100%; /* Ajuste a imagem para que ela ocupe toda a largura possível */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 680px; /* Limite o tamanho máximo da imagem */
  }
}