.feedback {
  text-align: center;
}

.feedback-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
}

.feedback-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.feedback-card {
  background: #252529;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  text-align: center;
  transition: all 0.3s ease-in-out; /* Transição suave para o efeito de relevo */
}

/* Animação de relevo (efeito de elevação ao passar o mouse) */
.feedback-card:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Eleva o card */
  transform: translateY(-5px); /* Move ligeiramente para cima */
}

.feedback-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.feedback-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.feedback-text {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 10px;
}

.feedback-city {
  font-size: 1rem;
  color: white;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #252529;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #FC6700;
}
