.historia {
    margin-top: 4rem;
    padding: 1rem;
    max-width: 1200px;
  }
  
  .historia-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  
  .historia-container {
    background-color: #4b5563; /* Cor do card */
    border-radius: 0.5rem;
    display: flex;
    overflow: hidden;
    margin: 0 2rem;
  }
  
  .historia-image {
    width: 50%; /* Ocupa metade do retângulo */
    height: 100%;
    object-fit: cover;
  }
  
  .historia-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; /* Outra metade do retângulo */
  }
  
  .historia-content h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
  }
  
  .historia-content h3 {
    font-size: 1.25rem;
    color: #d1d5db; /* Texto cinza claro */
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .historia-button {
    background-color: #f97316; /* Cor laranja */
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .historia-button:hover {
    background-color: #ea580c; /* Laranja escuro no hover */
  }
  