.localizacao {
    margin: 3rem 2rem;
    color: white;
  }
  
  .localizacao-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
  }
  
  .map-container {
    width: 100%;
    margin-bottom: 2rem;
  }

  /* Animação para fazer o conteúdo aparecer da esquerda */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Classe para o conteúdo que entrou na tela */
.content-visible {
  animation: slideIn 1s ease-out forwards;
}

/* Animação para os títulos */
.title-visible {
  animation: slideIn 1s ease-out forwards;
}
