.redes {
  color: white;
  text-align: center; /* Alinha o conteúdo à esquerda */
}

.redes-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem; /* Espaço entre o título e os ícones */
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Espaço entre os ícones */
}

.social-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 834px) {
  .redes-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .social-icon {
    width: 75px;
    height: 75px;
    margin: 1.5rem;
  }
}

@media (max-width: 440px) {
  .redes-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .social-icon {
    width: 60px;
    height: 60px;
    margin: 0.5rem;
  }
}
