.historia {
    margin: 0; /* Remove margens externas */
    padding: 0rem; /* Menor padding */
    width: 100%;
    max-width: none;
    background-color: #1f1f1f;
  }
  
  .historia-container {
    background-color: #252529;
    border-radius: 0.5rem;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    width: 90%; /* Reduzido para dar mais margem nas laterais */
    height: 50rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
  .titulo {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
  }
  
  .historia-image {
    width: 40%; /* Menor largura da imagem */
    height: auto;
    object-fit: cover;
  }
  
  .historia-content {
    padding: 1.5rem; /* Menor padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto */
    width: 60%;
    margin: 0 auto; /* Centraliza o container no eixo horizontal */
  }
  
  .historia-content h2 {
    font-size: 3.5rem; /* Tamanho do subtítulo */
    font-weight: bold;
    color: white;
    margin-bottom: 3rem;
  }
  
  .historia-content h3 {
    font-size: 1.60rem; /* Texto menor */
    color: rgb(255, 255, 255);
    margin-bottom: 3rem; /* Ajusta o espaçamento inferior para dar mais espaço para o botão */
    line-height: 1.3;
  }
  
  .historia-container2 {
    background-color: #252529;
    border-radius: 0.5rem;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    width: 90%; /* Reduzido para dar mais margem nas laterais */
    height: 50rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
  .historia-image2 {
    width: 40%; /* Ajuste a largura da imagem */
    height: auto;
    object-fit: cover; /* Para manter a proporção da imagem */
    order: 2; /* Coloca a imagem à direita */
  }
  
  /* Redes sociais */
.redes-contato {
    background-color: #252529; /* Cor de fundo */
    padding: 2rem; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
    flex: 1; /* Faz a seção ocupar metade do espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
  }
  
  .redes-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem; /* Ajusta o espaçamento entre o título e os ícones */
    text-align: center; /* Centraliza o título dentro do container */
    color: white; /* Cor do texto */
  }
  
  .social-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    gap: 2rem; /* Espaçamento entre os ícones */
  }
  
  .social-icon {
    width: 45px;
    height: 45px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
  }
  
  .social-icon:hover {
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
  }