.titulo {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}

.historia-container, .historia-container2 {
  background-color: #252529;
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  height: 50rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.historia-image, .historia-image2 {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.historia-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.historia-content h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 3rem;
}

.historia-content p {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 3rem;
  line-height: 2;
}

.redes {
  color: white;
  text-align: center; /* Alinha o conteúdo à esquerda */
}

.redes-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2rem; /* Espaço entre o título e os ícones */
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Espaço entre os ícones */
}

.social-icon {
  width: 55px;
  height: 55px;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
}

.social-icon:hover {
  transform: scale(1.1);
}

/* ANIMAÇÕES IGUAIS À DA PÁGINA REDES */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-visible {
  animation: slideIn 1s ease-out forwards;
}

.content-visible {
  animation: slideIn 1s ease-out forwards;
}

  @media (max-width: 834px) {
    .historia-container, .historia-container2 {
      flex-direction: column; /* Empilha os elementos verticalmente */
      height: auto; /* Permite que o conteúdo defina a altura */
    }
  
    .historia-image, .historia-image2 {
      width: 100%; /* Ocupa toda a largura */
      height: 30%; /* Mantém a proporção */
      order: -1; /* Move a imagem para cima */
    }
  
    .historia-content {
      width: 100%; /* Ocupa toda a largura */
      padding: 2rem; /* Adiciona espaçamento interno */
    }
  
    .historia-content h2 {
      font-size: 2.5rem; /* Reduz o tamanho do título */
    }
  
    .historia-content p {
      font-size: 1.7rem; /* Reduz um pouco o tamanho do texto */
    }

    .redes-title {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
  
    .social-icon {
      width: 75px;
      height: 75px;
      margin: 1.5rem;
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 440px) {
    .historia-content p {
      font-size: 1.3rem; /* Reduz um pouco o tamanho do texto */
    }

    .redes-title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    .social-icon {
      width: 60px;
      height: 60px;
      margin: 0.5rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 360px) {
    .redes-title {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  
    .social-icon {
      width: 60px;
      height: 60px;
      margin: 0.5rem;
      margin-bottom: 2rem;
    }
  }



