.Titulo {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.Marca {
    color: #FC6700;
    font-size: 42px;
    margin-left: 4rem;
}

.Modelo {
    color: white;
    font-size: 42px;
}

.Modelo, .Marca {
    margin-top: 2rem;
}

.CarroDetalhes {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
    margin-left: 4rem;
}

.Carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 4rem;
}

/* Ajuste das miniaturas */
.Miniaturas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MiniaturaImagem {
    width: 145px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.MiniaturaImagem:hover {
    transform: scale(1.1);
}

/* Imagem Principal */
.ImagemPrincipal img {
    width: 800px;
    max-width: 10000px;
    height: auto;
    object-fit: cover;
}

/* Container dos detalhes do carro */
.DetalhesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #252529;
    height: 800.4px;
    width: 680px;
    box-sizing: border-box;
}


.Detalhes {
    font-size: 42px;
    margin-top: 2rem;
    margin-left: 3rem;
    color: #FC6700;
}

.Descricao p {
    margin-bottom: 1.25rem;
    margin-left: 3rem;
    color: #fff;
    font-size: 34px;
}

.Preco h2 {
    color: white;
    font-size: 42px;
    margin-left: 3rem;
    margin-top: 6rem;
}

.BotaoCompra {
    
    width: 700px;
    margin-left: 3rem;

}

.veiculos-destaque-button {
    background-color: #FC6700;
    color: white;
    padding: 0.7rem 3.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
}

.veiculos-destaque-button:hover {
    background-color: #cf4e08;
}
