header {
    margin-bottom: 2rem;
}

.Layout {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.Titulo {
    display: flex;     
    gap: 13px;
}

.Titulo2 {
    display: flex;      
    align-items: center; 
    gap: 13px;         
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: #252529;
    width: 80%; /* Reduz a largura */
    height: 80px; /* Aumenta a altura */
    justify-content: center; /* Centraliza o conteúdo */
    border-radius: 10px; /* Arredonda as bordas para um visual melhor */
}

.Titulo3 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Garante que o texto fique centralizado */
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.Marca {
    color: #FC6700;
    font-size: 38px;
}

.Modelo {
    color: white;
    font-size: 38px;
}

.Detalhes {
    color: white;
    font-size: 26px;
    margin-bottom: 1rem;
}

.Preco {
    margin-top: 2rem;
}

.Carrossel {
    display: flex;
    gap: 10px; /* Remover o espaço entre a imagem principal e o container */
    flex-direction: row; /* Manter a imagem principal à esquerda e o container à direita */
    align-items: stretch; /* Faz com que o container tenha a mesma altura da imagem */
    justify-content: flex-start;
    margin-top: 1rem;
}

.ImagemPrincipal img {
    width: 720px;
    height: auto;
    object-fit: cover;
}

.Miniaturas {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: flex-start;
    order: -1;
}

.MiniaturaImagem {
    width: 115px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.MiniaturaImagem:hover {
    transform: scale(1.1);
}

.ContainerWrapper {
    display: flex;
    justify-content: center; /* Alinha o container ao centro */
    padding: 2rem;
    margin-top: 2rem;
}

.Container {
    background-color: #252529;
    padding: 20px;
    width: 700px;
    max-width: 1000px; /* Ajuste a largura máxima do container se necessário */
    flex-shrink: 0; /* Impede que o container encolha */
    display: flex;
    flex-direction: column; /* Organiza os elementos dentro do container em coluna */
    height: 45rem; /* Faz com que o container tenha a mesma altura da imagem */
}

.Container2 {
    background-color: #252529;
    padding: 20px;
    width: 1555px;
    max-width: 10000px; /* Ajuste a largura máxima do container se necessário */
    flex-shrink: 0; /* Impede que o container encolha */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Duas colunas */
    flex-direction: column; /* Organiza os elementos dentro do container em coluna */
    height: 27rem; /* Faz com que o container tenha a mesma altura da imagem */
    margin-top: 2rem;
    text-align: center;
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}
h2 {
    margin: 20px 0;
    color: white;
    font-size: 34px;
    line-height: 36px;
}

.Descricao {
    color:white;
    font-size: 24px;
    line-height: 2.3; /* Ajuste o valor conforme necessário */
}

.veiculos-destaque-button {
    background-color: #FC6700;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 500px; /* Ajuste para o valor desejado */
    margin-top: 0.5rem;
    font-size: 1.4rem;
}

.veiculos-destaque-button:hover {
    background-color: #e65c00;
}

.veiculos-destaque-cards {
    display: flex;
    gap: 2.5rem; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center; /* Centraliza os cards verticalmente */
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    margin-bottom: 2rem;
    margin-left: auto; /* Remove o deslocamento à esquerda */
    margin-right: auto; /* Mantém centralizado */
    width: 1500px; /* Define a largura */
}

.redes-contato {
    background-color: #252529; /* Cor de fundo */
    padding: 2rem; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
    flex: 1; /* Faz a seção ocupar metade do espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}
  
.redes-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem; /* Ajusta o espaçamento entre o título e os ícones */
    text-align: center; /* Centraliza o título dentro do container */
    color: white; /* Cor do texto */
}
  
.social-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    gap: 2rem; /* Espaçamento entre os ícones */
}
  
.social-icon {
    width: 45px;
    height: 45px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
}
  
  .social-icon:hover {
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}