/* venda.css */
.Layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerWrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
}

.Container {
    background-color: #252529;
    padding: 20px;
    width: 700px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    height: 45rem;
}

.Titulo {
    display: flex;
    gap: 13px;
    margin-bottom: 1rem;
}

.Marca {
    color: #FC6700;
    font-size: 38px;
}

.Modelo {
    color: white;
    font-size: 38px;
}

.Carrossel {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
}

.ImagemPrincipal img {
    width: 720px;
    height: auto;
    object-fit: cover;
}

.Miniaturas {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: flex-start;
}

.MiniaturaImagem {
    width: 115px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.MiniaturaImagem:hover {
    transform: scale(1.1);
}

.Titulo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: #252529;
    width: 80%;
    height: 80px;
    border-radius: 10px;
}

.Detalhes {
    color: white;
    font-size: 26px;
    margin-bottom: 1rem;
}

.Descricao {
    color: white;
    font-size: 24px;
    line-height: 2.3;
}

.Preco {
    margin-top: 2rem;
}

.BotaoCompra {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.veiculos-destaque-button {
    background-color: #FC6700;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 500px;
    font-size: 1.4rem;
}

.veiculos-destaque-button:hover {
    background-color: #e65c00;
}
